body{
    font-family: "DM Sans", sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    width: 100vw !important;  
}

@tailwind base;
@tailwind components;
@tailwind utilities;